POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=practices_db

BACKEND_PORT=3000
JWT_SECRET=supersecret_jwt_key
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public

FRONTEND_PORT=3001
NEXT_PUBLIC_API_URL=http://localhost:${BACKEND_PORT}
